<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest">
    <Properties>
        <Property name="log_path">./tmp/logs</Property>
        <Property name="trace_action_file">cube_action</Property>
        <Property name="trace_position_file">cube_position</Property>
        <!-- TimeBasedTriggeringPolicy require pattern contains date: %d{MM-dd-yyyy}-%i -->
        <Property name="rolling_prefix">%d{MM-dd-yyyy}-%i</Property>
        <Property name="rolling_path">./tmp/logs/history</Property>
        <Property name="output_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-20.50t | %-60.70C:%-5.5L | %msg%n</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <PatternLayout pattern="${output_pattern}" />
        </Appender>

        <RollingFile name="ta_rolling_file"
                     fileName="${log_path}/${trace_action_file}.log"
                     filePattern="${rolling_path}/${rolling_prefix}-${trace_action_file}.log.gz">
            <PatternLayout pattern="${output_pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="tp_rolling_file"
                     fileName="${log_path}/${trace_position_file}.log"
                     filePattern="${rolling_path}/${rolling_prefix}-${trace_position_file}.log.gz">
            <PatternLayout pattern="${output_pattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Note: Only the logs from ActionLogger and PositionLogger go to file. -->

    <Loggers>
        <Logger name="ActionLogger" level="debug" additivity="false">
            <AppenderRef ref="ta_rolling_file"/>
        </Logger>
        <Logger name="PositionLogger" level="debug" additivity="false">
            <AppenderRef ref="tp_rolling_file"/>
        </Logger>
        <Logger name="PerformanceLogger" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="cube" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>